.skill-show {
    color: #fff;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-title {
    font-size: 22px;
    text-decoration: underline;
}
.skill-point {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;

    list-style-type: square;
}

.card {
    background-color: #3b3f42;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card-title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}