.common-section h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.common-section p {
    padding-right: 50px;
    padding-left: 50px;
    text-align:justify;
}

#formation-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

#formation-sec h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {

}
