#dark_nav ul li a {
    color: #f4f4f4;
}

#header_menu {
    background-color: #272a2c;
    padding: 10px;
    top: 0;
    right: 0;
    position: relative;
    box-shadow: 0 1px 6px black;
}

#second_menu {
    padding: 17px;
    background-color: #1f2223;
    box-shadow: 0 1px 6px black;
    font-size: 13px;
}


#header_logo {
    margin-left: 3%;
    width: 9%;
    float: left;
    alignment: center;
    pointer-events: none;
}

nav {
    text-align: right;
    padding-right: 8%;
}

#router-link {
    display: inline;
    padding: 10px;
}

#router-link {
    margin-left: 35px;
}

#router-link:hover {
    color: #a27f8c;
    transition: 0.5s;
}

a:link{
    text-decoration: none!important;
}

/* LOGO animated */
.grow-enter-active,
.grow-leave-active {
    transition: opacity 0.5s ease;
}

.grow-enter-from,
.grow-leave-to {
    opacity: 0;
}