
#typing_word {
    alignment: center;
}

.txt-rotate {
    float: none;
    font-size: 35px;
    color: rgba(255,0,20,0.64);
    text-align: center;
}
/* make back-image at the same x and y than the introduction text */

#back-image {
    position: absolute;
    filter: brightness(40%) blur(200px);
    margin-left: 100px;
    left: 0;
    right: 0;
    opacity: 0.3;
    pointer-events: none;
}

#introduction {
    box-shadow: 0 -1px 2px #272a2c;
}


#illus1 {
    position: relative;
    float: right;
    display: inline;
    width: 65%;
    box-shadow: 0 2px 6px black;
    margin: 20px;
    pointer-events: none;
}

#introduction {
    padding-bottom: 120px;
}

#down .common-section-paragraph {
    margin-bottom: 50px;
}

#index-common-section {
    width: 50%;
}

/* BUTTON */
#learn-more-div {
    margin-top: 50px;
    background-color: #9d76cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    margin-left: 50px;
    width: 115px;
}