.content-section h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.content-section p {
    text-align: center;
    margin-bottom: 40px;

}

#illus-watermelon {
    float: right;
    width: 400px;
    filter: drop-shadow(0px 0px 10px #000);
    margin-right: 50px;
    pointer-events: none;
}

#project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#project-watermelon-paragraph {
    width: 80%;
}

.content-section {
    padding-bottom: 50px;
}

.description {
    margin-left: 30%;
    margin-right: 30%;
}